body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}

/* Navbar */
nav{
display:flex;
justify-content:space-between;
padding:15px;
background:#020617;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

/* Hero */
.hero{
text-align:center;
padding:60px;
background:linear-gradient(45deg,#22c55e,#38bdf8);
color:black;
}

/* Cards */
.products{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
padding:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
width:220px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

button{
background:#22c55e;
border:none;
padding:10px;
border-radius:10px;
color:white;
cursor:pointer;
}

.sale{
color:yellow;
font-weight:bold;
}

input{
padding:10px;
border-radius:8px;
border:none;
margin:10px;
}
